:root {
    --off-white: #e8f4f4;
    --dark-grey: #3f4452;
    --red: #c63350;
    --grey: #838b84;
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--off-white);
    color: var(--dark-grey);
    font-family: 'Ubuntu Condensed', sans-serif;
}

body {
    padding-bottom: 50px;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 130px;
    color: var(--red);
    position: absolute;
    top: -270px;
    left: 0;
}

h1 + p {
    font-size: 25px;
    margin-top: 180px;
    text-indent: 20px;
}

.container {
    width: min(1000px, 90vw);
    margin: 0 auto;
    position: relative;
}

nav,
nav a {
    width: 100%;
    height: 50px;
    background: var(--dark-grey);
    color: var(--off-white);
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-container {
    display: grid;
    place-items: center;
    height: 50px;
}

.img-container img {
    height: 40px;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.car-dealer {
    border-radius: 20px;
    box-shadow: 0 0 8px -2px var(--grey);
    margin-top: 30px;
}

.car-dealer > div {
    padding: 20px;
}

.dealer-img {
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.available-cars {
    display: grid;
    margin-top: 30px;
    gap: 40px;
}


h2,
h2 + p {
    margin: 0;
}

.car {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

.car p,
.car h3 {
    margin: 0;
    margin-left: 10px;
}

.car-img {
    width: 100px;
}

.car-buy {
    background-color: var(--red);
    color: var(--off-white);
    padding: 10px;
    border-radius: 0 15px 15px 0;
    margin-top: 10px;
    text-decoration: none;
    width: max-content;
}

.car div {
    display: grid;
    gap: 5px;
    border-left: 2px solid var(--red);
    width: 100%;
}

@media (max-width: 992px) {
    .cards {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}

@media (max-width: 580px) {
    .cards {
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .car {
        display: grid;
        grid-template-columns: 66.66% 1fr;
        place-items: center;
    }
}